{% extends "network/layout.html" %}
{% load static %}

{% block body %}

    <!-- All posts -->
     <div id="all-posts-view">
        <h1 class="page-header" >All Posts</h1>
        {% if user.is_authenticated %}
        <!-- New Post -->
        <div class="card post-card">
            <div class="card-body">
                <h3 class="card-title">New Post</h3>
                <form id="new-post-form">
                    <div class="form-group">
                        <textarea 
                            class="form-control" 
                            id="new-post-content" 
                            rows="3"
                            maxlength="280"></textarea>
                        <div id="new-post-error"></div>
                    </div>
                    <button type="submit" class="btn btn-primary" id="new-post-submit-button">
                        Post
                    </button>
                </form>
            </div>
        </div>
        {% endif %}
        <!-- Feed -->
        <div class="feed">
            <!-- Posts list -->
            <div class="posts-list"></div>
            <!-- Feed pagination -->
            <div class="feed-pagination"></div>
        </div>
     </div>

    <!-- Profile page -->
     <div id="profile-page-view">
        <!-- Profile info header -->
        <div id="profile-info-header"></div>
        <!-- Feed -->
        <div class="feed">
            <!-- Posts list -->
            <div class="posts-list"></div>
            <!-- Feed pagination -->
            <div class="feed-pagination"></div>
        </div>
     </div>

     <!-- Following -->
     <div id="following-view">
        <!-- Following header -->
        <h1 class="page-header" >Following</h1>
        <!-- Feed -->
        <div class="feed">
            <!-- Posts list -->
            <div class="posts-list"></div>
            <!-- Feed pagination -->
            <div class="feed-pagination"></div>
        </div>
     </div>

{% endblock %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}